<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/netinf.node/src/netinf/node/StarterNode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="netinf.node.StarterNode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/netinf.node/src/netinf/node/module/measurements/NoChunkNetCacheModule.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="netinf.node"/>
</launchConfiguration>
